@reference "./index.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  @apply text-white;
  min-height: 100vh;
}

.main {
  margin-top: 100vh;
  padding: 8rem 2rem;
  min-height: auto;
}

.glow-heading {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.dark {
  .glow-heading {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.6),
      0 0 10px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.3),
      0 0 30px rgba(255, 255, 255, 0.2);
  }
}

.text-column {
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 1.125rem;
}

.text-column p {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .glow-heading {
    font-size: 2rem;
  }

  .text-column {
    font-size: 1rem;
  }
}
