@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-purple-600 dark:bg-purple-700;
}

html::before {
	z-index: -1;
	position: fixed;
  top: -10vh;
	height: 120vh;
	width: 100vw;
  padding-top: 13vh;
	content: "That's all Folks!";
  @apply text-center text-purple-950 dark:text-white text-xl;
  @apply bg-gradient-to-tr from-pink-500 to-purple-600 dark:from-pink-700 dark:to-purple-800;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gradient-to-tr from-pink-400 to-purple-500 dark:from-pink-600 dark:to-purple-700;
}
